## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
x=5

2) Imprimir el tipo de dato de la constante 8.5

In [6]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre='Luis'

5) Crear una variable que contenga un número complejo

In [9]:
complejo=1+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(complejo)

(1+2j)

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [21]:
import math
pi = math.pi
print("%.4f"%pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [25]:
var1 = 'True'
var2 = True
#No son iguales ya que una es de tipo string y tipo Booleano

Var1 es de tipo: <class 'str'>
Var2 es de tipo: <class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [26]:
print('Var1 es de tipo: %s'%str(type(var1)))
print('Var2 es de tipo: %s'%str(type(var2)))

Var1 es de tipo: <class 'str'>
Var2 es de tipo: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [28]:
sum = 4 + 5.5
sum

9.5

11) Realizar una operación de suma de números complejos

In [30]:
10%3

1

12) Realizar una operación de suma de un número real y otro complejo

In [32]:
SUM12= (1+2J) + 3
SUM12

(4+2j)

13) Realizar una operación de multiplicación

In [34]:
mul = 9*7
mul

63

14) Mostrar el resultado de elevar 2 a la octava potencia

In [35]:
pot = 2**8
pot

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [37]:
coc=27/4
coc

6.75

16) De la división anterior solamente mostrar la parte entera

In [38]:
print(int(coc)) # Fomra 1 para no volver a hacr la operación
coc=27//4       # Forma 2 desde ceros
print(coc)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [39]:
mod = 27%4
mod

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
resul = 4*coc + mod
resul

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
frase = "Good Mornig, "+ "How are you?, " + "What's going on?"
frase

"Good Mornig, How are you?, What's going on?"

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [42]:
"2" == 2 #Son diferentes por que el uno es tomado como valor entero y el otro como string.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
print('2' == str(2)) # Opción 1
print(int('2')==2) #Opción 2

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [50]:
a=float('3.8') #Por que el flotante va con . y no con coma
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [51]:
Var23 = 3
Var23 -= 1
Var23

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
1<<2 # Por que es la operación desplazamiento inicial = 0001, final 0100 y esto en decimal es 4. 
#El sistema d enumeración binaria es un sistema numerico que solo ultiliza dos digitos 0 y 1.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [55]:
#2 + '2' #No se permite por que uno es entero y el otro es string. si los dos fueran de igual tipo no arrojaria error.
'2'+'2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [56]:
str(2) + '2'

'22'